## Teste de uma proporção

Taxa de fumantes em uma cidade era 21%. Uma amostra de 100 habitantes encontrou 14 fumantes. A proporção de fumantes da cidade mudou (nível de confiança = 95%)?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [2]:
stats.binom_test(14, 100, p=0.21, alternative='two-sided')

C:\Users\dudud\AppData\Local\Temp\ipykernel_10344\297636668.py:1: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  stats.binom_test(14, 100, p=0.21, alternative='two-sided')

0.10920815720825927

Taxa de fumantes em uma cidade era 21%. Uma amostra de 100 habitantes encontrou 14 fumantes. A proporção de fumantes da cidade reduziu? (uma cauda – nível de confiança = 95%).

In [4]:
stats.binom_test(14, 100, p=0.21, alternative='less')

C:\Users\dudud\AppData\Local\Temp\ipykernel_10064\152539974.py:1: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  stats.binom_test(14, 100, p=0.21, alternative='less')

0.05042460221552124

Exercício 1 \
Uma empresa realizou uma campanha anti-tabagismo visando diminuir a proporção de seus trabalhadores que são fumantes. Sabe-se que antes da campanha 21% dos trabalhadores se declaravam fumantes. Para verificar se essa porcentagem mudou após a campanha, a empresa coletou informações de 100 funcionários e armazenou o resultado no arquivo Smokers.csv. Realize um teste de hipótese e informe se a proporção de fumantes continua a mesma ou mudou.

In [5]:
df = pd.read_csv('Smokers.csv')
df

          Name Smokers
0     Person 1      No
1     Person 2      No
2     Person 3      No
3     Person 4     Yes
4     Person 5      No
..         ...     ...
95   Person 96      No
96   Person 97      No
97   Person 98      No
98   Person 99      No
99  Person 100      No

[100 rows x 2 columns]

In [6]:
fumantes = df.groupby('Smokers').count()
fumantes

         Name
Smokers
No         83
Yes        17

In [7]:
fumantes = fumantes.reindex(['Yes', 'No'])
fumantes

         Name
Smokers
Yes        17
No         83

In [8]:
stats.binom_test(fumantes, 100, p=0.21, alternative='two-sided')

C:\Users\dudud\AppData\Local\Temp\ipykernel_10064\493812592.py:1: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  stats.binom_test(fumantes, 100, p=0.21, alternative='two-sided')

array([0.39008169])

Exercício 2 \
Uma estimativa feita por um instuto de pesquisa apontou que 25% das mulheres que frequentam restaurantes numa dada cidade são fumantes. O dono de um restaurante decidiu testar uma amostra de suas clientes para verificar se esta estimativa é correta. Realize o teste de uma proporção com os dados contidos em 'tips.csv' e informe se a estimativa está correta (nível de confiança = 95%).

In [9]:
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
df2 = df[df['sex']=='Female']
df2 = df2[['sex','smoker']]
df2

        sex smoker
0    Female     No
4    Female     No
11   Female     No
14   Female     No
16   Female     No
..      ...    ...
226  Female    Yes
229  Female    Yes
238  Female     No
240  Female    Yes
243  Female     No

[87 rows x 2 columns]

In [12]:
fumantes = df2.groupby('smoker').count()
fumantes

        sex
smoker
No       54
Yes      33

In [13]:
fumantes = fumantes.reindex(['Yes', 'No'])
fumantes

        sex
smoker
Yes      33
No       54

In [14]:
stats.binom_test(fumantes, 87, p=0.25, alternative='two-sided')

C:\Users\dudud\AppData\Local\Temp\ipykernel_10064\693820420.py:1: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  stats.binom_test(fumantes, 87, p=0.25, alternative='two-sided')

array([0.00874773])